body
{
    display: flex;
    margin: 0;
    width: 100%;
    background: #091921;
}

body.light{
    background: #d1dae3;
}

#clock {
    width:100%;
    position: fixed;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    z-index: 100%;
}

body.light #clock{
    width:100%;
    position: fixed;
    font-size: 9vw;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
    z-index: 100%;
}



#date {
    width: 100%;
    position: fixed;
    font-size: 3vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20%;
    z-index: 100%;
}

body.light #date {
    width: 100%;
    position: fixed;
    font-size: 3vw;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20%;
    z-index: 100%;
}



.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    }

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    }
    
.button2:hover {
    background-color: #008CBA;
    color: white;
    }
    
input[type=text] {
     margin-top: 20%;
     width: 500px;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     background-color: white;
     padding: 12px 20px 12px 10px;
     -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    text-align: center;
    }

.verticlecenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        }

#toggleClass{
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#toggleClass:before{
    content: 'Light Mode';
    white-space: nowrap;
    left: 25px;
    position: absolute;

}

body.light #toggleClass {
    background: #091921;
    color: #091921;
}

body.light #toggleClass:before {
    content: 'Dark Mode';
}

